.custom-datepicker {
    padding: 8px;
    border: 2px solid #4a90e2;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-calendar {
    border: 2px solid #4a90e2;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .react-datepicker__header {
    background-color: #4a90e2;
    color: white;
    border-bottom: none;
  }
  
  .react-datepicker__day--selected {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50%;
  }
  
  .react-datepicker__day:hover {
    background-color: #e0e7ff !important;
    color: black !important;
    border-radius: 50%;
  }
  